@charset "UTF-8";
* { /*Configurações Globais CSS*/
    font-family: Arial, Helvetica, sans-serif;
  
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to bottom, #F2D7B6, #F2D7B6  );
}
main{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 10px 10px 5px #592C28 ;
    width: 500px;
    padding: 50px;
    margin: auto;
}
p {
text-align: justify;
color:#F2D7B6 ;
}
h1{
    color: #eb9834 ;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
h2{
    color: #D97B59 ;
}